
.about-us {
  width: 100%;
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/assets/landing-page/background_about_us.png') no-repeat left;

  .title {
    font-size: 38px;
    margin-top: 100px;
    font-weight: bold;
  }

  .divider {
    height: 1px;
    width: 500px;
    margin-top: 32px;
    background: rgba(255,255,255,.1);

    &:before {
      display: block;
      content: "";
      margin-left: 200px;
      height: 1px;
      width: 100px;
      background: #fff;
    }
  }

  .description {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 560px;
    margin: 5% 10% 0 0;

    .description-text {
      margin-bottom: 16px;
      color: #d9d9d9;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }

    .learn-more-button {
      width: fit-content;
      border-color: grey;
      transition: 0.3s;

      &:hover {
        border-color: white;
        color: white;
      }
    }
  }
}
