:host {
  flex: 1 1 auto;
  background-color: #020211;
  width: 100%;
}

.google-search-tabs {
  max-width: 100%;
  background-color: #041C2C;

  ::ng-deep .mat-tab-label  {
    color: white;
  }

  ::ng-deep .mat-tab-header {
    border-bottom-color: gray;
  }
}
