@import 'src/stromwise-palette';

:host {
  display: flex;
  flex-direction: column;
  margin: 100px 160px 0 160px;

  .skilltree-contaier {
    display: flex;
    justify-content: center;

    #skilltree {
      flex: 1 1 auto;
    }
  }
}
