@import "src/mixins";
@import 'src/stromwise-palette';

.search-result {
  mat-list-item {
    margin-top: 12px;
  }

  .header {
    color: white;
    font-size: 40px;
  }

  .url {
    color: white;
    font-size: 13px;
    font-style: italic;
  }

  .title {
    color: map-get($md-secondary, 200);
    @include font(24, 37);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .description {
    color: grey;
    font-size: 16px;
  }
}
