@import 'src/stromwise-palette';

.landing-page {
  width: 100%;
  height: 775px;
  background: url('/assets/landing-page/background_top.png') no-repeat right;

  .hero-container {
    position: absolute;
    width: 560px;
    margin: 10% 0 0 10%;

    .hero-title {
      font-size: 38px;
      font-weight: bold;
    }

    .hero-text {
      font-size: 20px;
      font-weight: 400;
      padding: 16px 0 32px 0;
    }

    .hero-actions {
      display: flex;
      flex-direction: column;

      .hero-actions-autocomplete {
        display: flex;
        align-items: center;

        .hero-actions-autocomplete-description {
          font-size: 30px;
          font-weight: 500;
          padding-right: 8px;
          color: map-get($md-primary, 500);
        }
      }
    }
  }
}
