
@font-face {
  font-family: 'Abel Regular';
  src: url('assets/fonts/Abel-Regular.ttf') format("opentype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020211;
  color: white;
  font-family: 'Abel Regular', sans-serif !important;
}
