@import 'src/z-indexes';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #041C2C;

  .question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
  }

  carousel {
    height: 100%;
    width: 100%;
    min-width: 320px;
  }

  .done-button {
    position: absolute;
    bottom: 200px;
    right: 10%;
    z-index: map-get($z-indexes, 'done-button');
  }
}
