:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #041C2C;

  .question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
  }

  carousel {
    height: 100%;
  }
}
