footer {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
* {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer.animated .bg-image, .animated footer{
  opacity: .2;
}
div {
  display: block;
}
.contenu .cta.animated, .contenu h3.animated {
  opacity: 1;
}
footer div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 9rem 12rem 5rem;
  height: auto;
}
html, body, div, span, applet, object, iframe, h1,
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
footer div.contact>div:first-of-type {
  padding-right: 3rem;
}
.colonnes>* {
  display: inline-block;
  vertical-align: top;
}
.contenu>:first-child {
  margin-top: 0;
}
footer .contenu h1 {
  font-weight: 300;
}
h1 {
  font-size: 2.4rem;
  line-height: .95833333;
  font-weight: 300;
  text-transform: uppercase;
}
p, h1, h2, h3, h4, h5, h6, strong, a, span, li {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
.animated .contenu h1:before, .animated .contenu h2:before {
  width: 20%;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
}
.contenu h1:last-of-type::before, .wysiwyg h1:last-of-type::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  height: 1px;
  background: #fff;
}
.contenu h1:before, .contenu h2:before {
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.contenu h1:before, .contenu h1:after, .contenu h2:before, .contenu h2:after {
  width: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
footer .contenu h1 {
  font-weight: 300;
}
h1 {
  font-size: 2.4rem;
  line-height: .95833333;
  font-weight: 300;
  text-transform: uppercase;
}
footer div.contact>div:first-of-type form {
  margin-top: 2.5rem;
}
.colonnes.marge .c-50 {
  width: 48%;
}
form .colonnes>*[class*="c-"] {
  margin-bottom: 2%;
}
.colonnes.marge>* {
  margin-left: 1%;
  margin-right: 1%;
}
footer form>div>div.animated, footer #carte-footer.animated, footer .succursale.animated, footer #copyright.animated,
footer .info-contact.animated {
  opacity: 1;
}
.c-50 {
  width: 50%;
}
footer div.contact>div:first-of-type form label {
  font-weight: 700;
  font-size: .6rem;
  text-transform: uppercase;
  margin-bottom: .25rem;
}
label {
  width: 100%;
  display: block;
}
form .colonnes>*[class*="c-"]>select, form .colonnes>*[class*="c-"]>input[type="number"], form .colonnes>*[class*="c-"]>input[type="password"], form .colonnes>*[class*="c-"]>input[type="text"], form .colonnes>*[class*="c-"]>input[type="email"], form .colonnes>*[class*="c-"]>input[type="tel"], form .colonnes>*[class*="c-"]>input[type="file"], form .colonnes>*[class*="c-"]>textarea {
  width: 100%;
}
footer div.contact>div:first-of-type form input {
  padding: .5rem;
}
footer div.contact>div:first-of-type form input, footer div.contact>div:first-of-type form textarea, footer div.contact>div:first-of-type form select {
  background-color: rgba(255,255,255,.1);
  font-size: .9rem;
  color: #fff;
  border: 1px solid rgba(255,255,255,0);
  -webkit-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
}
select, input[type="number"], input[type="password"], input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: 1px solid #b3b3b3;
  padding: .7rem;
  font-family: 'Borda';
  font-size: 1rem;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
input[type="text" i] {
  padding: 1px 2px;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
}
footer div.contact>div:first-of-type form input, footer div.contact>div:first-of-type form textarea,
ooter div.contact>div:first-of-type form select {
  background-color: rgba(255,255,255,.1);
  font-size: .9rem;
  color: #fff;
  border: 1px solid rgba(255,255,255,0);
  -webkit-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
}
form .colonnes>*[class*="c-"]>select, form .colonnes>*[class*="c-"]>input[type="number"],
form .colonnes>*[class*="c-"]>input[type="password"], form .colonnes>*[class*="c-"]>input[type="text"],
form .colonnes>*[class*="c-"]>input[type="email"], form .colonnes>*[class*="c-"]>input[type="tel"],
form .colonnes>*[class*="c-"]>input[type="file"], form .colonnes>*[class*="c-"]>textarea {
  width: 100%;
}
select, input[type="number"], input[type="password"], input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: 1px solid #b3b3b3;
  padding: .7rem;
  font-family: 'Borda';
  font-size: 1rem;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 2px;
  resize: none;
}
.contenu .cta {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out,border 200ms ease-in-out;
  transition: opacity 300ms ease-in-out,border 200ms ease-in-out;
}
.cta {
  display: inline-block;
  text-decoration: none!important;
  border: 1px solid rgba(255,255,255,.5);
  line-height: 1;
  color: #fff;
  padding: 1.2rem 1rem 1rem;
  margin-top: 1.5rem;
  font-size: .8rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
}
.cta:after {
  content: '';
  height: 1px;
  width: 1.75rem;
  margin-left: 1rem;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  margin-bottom: .2rem;
}
footer div.contact>div:first-of-type form input {
  padding: .5rem;
}
footer div.contact>div:first-of-type form input,
footer div.contact>div:first-of-type form textarea,
footer div.contact>div:first-of-type form select {
  background-color: rgba(255,255,255,.1);
  font-size: .9rem;
  color: #fff;
  border: 1px solid rgba(255,255,255,0);
  -webkit-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
}
input[type="hidden" i] {
  display: none;
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}
element.style {
  position: absolute;
  left: -9000px;
}
footer div.contact>div:first-of-type form input {
  padding: .5rem;
}
footer div.contact>div:first-of-type form input, footer div.contact>div:first-of-type form textarea,
footer div.contact>div:first-of-type form select {
  background-color: rgba(255,255,255,.1);
  font-size: .9rem;
  color: #fff;
  border: 1px solid rgba(255,255,255,0);
  -webkit-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
}
select, input[type="number"], input[type="password"], input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: 1px solid #b3b3b3;
  padding: .7rem;
  font-family: 'Borda';
  font-size: 1rem;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
input[type="text" i] {
  padding: 1px 2px;
}
footer div.contact>div:last-of-type {
  padding-left: 3rem;
}
footer div.contact>div:last-of-type div.succursale {
  z-index: 1;
}
footer form>div>div.animated, footer #carte-footer.animated, footer .succursale.animated, footer #copyright.animated,
footer .info-contact.animated {
  opacity: 1;
}
footer form>div>div, footer #carte-footer, footer .succursale, footer #copyright, footer .info-contact {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
h3 {
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
}
p, h1, h2, h3, h4, h5, h6, strong, a, span, li {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
footer div.contact>div:last-of-type div.succursale a {
  display: block;
  color: #fff;
  margin-top: .3rem;
}
a, a *, input[type="submit"] {
  cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6, strong, a, span, li {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
a {
  text-decoration: none;
  cursor: pointer;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
